.App {
  text-align: center;
  background-color: #D9D6D5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Head {
  color:red;
  float: left;
  margin : 3%;
  width: 100%;
}
.Title{
  float: left;
}
.Search{
  float: right;
  margin-right: 6%;
  margin-top: 2%;
  height: 30px;
  width: 350px;
}
.BookBorder{
  border-style: solid;
}
.TitleItem{
  float: left;
  width: 100%;
  margin-right: 3%;
  margin-left: 3%;
 
}
.TitleItemText {
  float: left;
}
.BookItem{
  border:black;
  border-style: solid;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
